body {
	margin: 0;
	padding: 0;
	/*background: url(../images/bg2.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed; */ /* para fixar a imagem de fundo mesmo quando rola a página */
	background-color: #1e4148;
	font-family: "Roboto", sans-serif;
}

/*
nav{

    background-color: black;
    padding: 1px;
    padding-left: 1rem;
    color: rgb(158, 216, 71);
}*/

/* ----------------- HEADER MENU ------------------*/

header {
	z-index: 2; /* para nada da página sobrepor o menu */
	height: 50px;
	background: #2f3640;

	overflow: hidden;
	position: fixed;
	margin: 0;
	top: 0;
	width: 100%;
	transition: 0.7s;
}

header:hover {
	padding-top: 10px;
	height: 60px;
}

.inner-width {
	max-width: 1100px;
	padding: 0 10px;
	margin: auto;
}

.logo {
	float: left;
}

.logo img {
	height: 50px;
}

.navigation-menu {
	float: right;
	display: flex;
	align-items: center;
	min-height: 50px;
}

.navigation-menu a {
	margin-left: 10px;
	color: #ddd;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 17px;
	font-weight: 550;
	padding: 12px 20px;
	border-radius: 4px;
	transition: 0.3s linear;
}

.navigation-menu a:hover {
	background: rgb(225, 239, 255);
	color: #2f3640;
	transform: scale(1.1);
}

.navigation-menu i {
	margin-right: 8px;
	font-size: 16px;
	color: #09a7ca;
}

.navigation-menu i:hover {
	color: #0784a0;
}

.menu-toggle-btn {
	float: right;
	height: 90px;
	margin-right: 1rem;
	line-height: 50px !important;
	color: #fff;
	font-size: 26px;
	display: none !important;
	cursor: pointer;
}

@media screen and (max-width: 700px) {
	.menu-toggle-btn {
		display: block !important;
	}

	.navigation-menu {
		position: fixed;
		width: 100%;
		max-width: 400px;
		background: #172b4d;
		top: 90px;
		right: 0;
		display: none;
		padding: 20px 40px;
		box-sizing: border-box;
	}

	.navigation-menu::before {
		content: "";
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid #172b4d;
		position: absolute;
		top: -10px;
		right: 10px;
	}

	.navigation-menu a {
		display: block;
		margin: 10px 0;
	}

	.navigation-menu.active {
		display: block;
	}
}

/* ---------------- END HEADER MENU -------------------*/

.box {
	width: 450px;
	background: rgba(0, 0, 0, 0.7);
	background-size: cover;
	padding: 5vh;
	text-align: center;
	margin: auto;
	margin-top: 4rem;
	padding-top: 1rem;
	color: white;
	transition: 1s;
	height: 80vh;
}

.box:hover {
	background: rgba(0, 0, 0, 0.9);
}

.box-img {
	border-radius: 50%;
	width: 150px;
	height: 150px;
	opacity: 0.7;
	transition: 0.5s;
}

.box-img:hover {
	width: 200px;
	height: 200px;
	background: #12282d;
	border-radius: 10px;
	opacity: 1;
}

.box h1 {
	font-size: 40px;
	letter-spacing: 4px;
	font-weight: 100;
}
.box h5 {
	font-size: 20px;
	letter-spacing: 3px;
	font-weight: 100;
}

.box p {
	text-align: justify;
}

ul {
	margin: 0;
	padding: 0;
}
.box li {
	display: inline-block;
	margin: 6px;
	list-style: none;
}
.box li a {
	color: white;
	text-decoration: none;
	font-size: 60px;
	transition: all ease-in-out 250ms;
}
/*
.box li a:hover{
  color: #b9b9b9;
}*/

.box i {
	color: #09a7ca;
	transition: 0.5s;
}

i:hover {
	color: #f3f3f3;
}

/* .fa-github-square:hover{
}

.fa-linkedin:hover{
}

.fa-whatsapp-square:hover{
} */

.fa-chevron-down {
	color: white;
	position: relative;
	animation: mymove 1s infinite;
}

@keyframes mymove {
	from {
		top: 0px;
	}
	to {
		top: 20px;
	}
}

section {
	max-width: 80%;
	margin: auto;
	margin-top: 2rem;
	padding: 1rem;
	background-color: #001013;
	border-radius: 0.7rem;
}

section h1 {
	text-align: center;
	color: white;
}

section > div {
	/* background-color: #b8e7f1; */
	transition: 0.6s;
	border-radius: 3px;
	color: white;
}

section > div:hover {
	/* background-color: #f3f3f3; */
}

section#sobre div p {
	padding: 1rem;
	font-size: 15px;
}

.div-lists {
	display: flex;
	justify-content: space-around;

	flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
	.div-lists ul:first-child {
		margin-left: 47px;
		margin-bottom: 25px;
	}
}

.div-lists ul > b {
	margin-left: -38px;
	line-height: 35px;
}

.div-lists ul li {
	list-style-type: none;
}

.div-lists ul li:before {
	content: "\2713";

	margin-left: -20px;
	margin-right: 10px;
}

section#contato div {
	text-align: center;
}

section#contato ul {
	font-size: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

#contato li {
	display: inline-block;
	margin: 6px;
	list-style: none;
}

#contato li a i {
	text-decoration: none;
	font-size: 60px;
	transition: all ease-in-out 250ms;
	margin-left: 0.5rem;
	color: #097f9a;
	opacity: 0.7;
	transition: 0.5s;
}

#contato li a i:hover {
	opacity: 1;
	color: #cfcfcf;
}

.fa-hourglass-end {
	color: black;
}

#portfolio {
	background-color: #001013;
}

#portfolio div.project {
	background-color: #7c2c2d;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 5px;
}

.project img {
	opacity: 0.6;
	transition: 0.5s;
	background: #f3f3f3;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.project img:hover {
	opacity: 1;
	/* background: #09a7ca; */
}

/* ------------ Gallery flexbox - Portfolio    ----------------- */

/* CSS FLEXBOX 1 */

.flex {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 auto;
}

.flex > div {
	flex: 1 1 20rem;
	margin: 10px;
	min-height: 320px;
}

.flex img {
	max-width: 100%;
	display: block;
}

.info-card {
	padding: 0 10px;
	background-color: transparent;
	padding-bottom: 1rem;
	height: 100%;
}

.info-card a {
	font-size: 20px;
	/* background-color: black; */
	color: white;
	margin-right: 1rem;
	padding: 0.5rem;
	border-radius: 2px;
	text-decoration: none;
	font-weight: bold;
	transition: 0.5s;
}

/* .info-card i {
  color: white;
}*/

.info-card i:hover {
	color: black;
}

.info-card a:hover {
	background-color: white;
	color: black;
}
.info-card a i {
	margin: 0 auto;
}

.info-card .fa-github {
	/* margin-top: 10px; */
	font-size: 25px;
}

/* ------------ End Gallery flexbox - Portfolio    ----------------- */

footer {
	margin-top: 1rem;
	margin-bottom: 0;
	width: 100%;
	height: 4rem;
	background-color: black;
	color: white;

	display: flex;
	justify-content: space-around;
}

@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	.box {
		max-width: 70%;
	}

	.box-img {
		width: 100px;
		height: 100px;
	}

	.box h1 {
		font-size: 27px;
	}

	.box h5 {
		font-size: 18px;
	}

	section {
		width: 100%;
	}

	footer {
		flex-direction: column;
		height: fit-content;
		align-items: center;
	}
}
